#image{
  width: 100%;
  height: 100%;
  
  object-fit:scale-down ;
  justify-content:center;
  align-items:center;
  display:block;
  max-width:100%;
}
header{
  text-align:center;
  font-family:"Nunito Sans", Arial, sans-serif;
}
main{
  padding:25px 20px;
  background-color:rgb(255,80,80);
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#img-caption,#title{
  justify-content:center;
  text-align:center;
  margin-top:10px;
  margin-bottom:50px;
}
#tribute-info p{
   margin-left: auto;
    margin-right: auto;
    text-align:justify;
    font-size:15px; 
}
.info{
  list-style-type:disc;
  padding:25px;
}
#tribute-link{
  text-decoration:none;
}
a:hover{
  color:rgb(255,255,255);
}
